html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #090731, #2b15d0);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100vh;
  margin: auto;
  padding: 50px 0;
}

.hero-image img {
  width: 350px;
  width: 420px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.hero-text {
  color: white;
  font-size: 20px;
}

.name {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px;
}

.one-line {
  font-size: large;
  padding-bottom: 10px;
}

.features {
  color: #fff;
  margin: 20px;
  font-size: 20px;
}

.specifications {
  color: white;
  margin: 20px;
  font-size: 20px;
  margin-bottom: 80px;
}

.description {
  width: 800px;
}

table {
  width: 80%;
  margin: auto;
}

th,
td {
  border: 2px solid white;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #d4af37;
  color: black;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.08);
}
.price-description {
  padding: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d4af37;
  color: #111827;
  text-decoration: none;
  border-radius: 8px;
}

.btn:hover {
  background-color: #f4d03f;
}

.footer {
  color: #fff;
  background-color: #0d2b49;
  margin-top: auto;
  padding: 20px;
  text-align: center;
}

.footer-text {
  font-size: 15px;
  padding: 10px;
}

.list {
  padding: 8px;
}

.image {
  display: flex;
  justify-content: flex-end;
  margin-top: -320px;
  margin-right: 80px;
}

.image img {
  width: 420px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.btn-back {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d4af37;
  color: #111827;
  text-decoration: none;
  border-radius: 8px;
  margin-left: 20px;
  margin-top: 20px;
}

.btn-back:hover {
  background-color: #f4d03f;
}

.heading {
  text-align: center;
  padding: 20px;
  font-style: italic;
}
